{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
Login Page
{% endblock title %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Sign in</h3>
              <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <small style="display:block; margin-bottom:10px;"><a href="{% url 'account_reset_password' %}">Forgot password?</a></small>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              </form>
              <p style="color:#00000080; margin-top:10px;">OR</p> 
              <form action="{% provider_login_url "google" %}" method="post">
                {% csrf_token %}
                <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              </form> 
              <div style="margin-top:10px;">
                <p>Don't have an account? <a class = "ml-2" href="{% url "account_signup" %}">Sign up</a></p>
            </div>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}