{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Delete Post
{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to Delete the post <strong>"{{ post.title }}"</strong> ? This action can't be undone.</p>
        <input type="submit" class = "btn btn-danger" value = "Delete Post">  
        <a href="{% url "users:user_profile" user.username %}" class = "btn btn-outline-secondary">Back</a>
    </form>
</div>
{% endblock content %}