{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login Page
{% endblock title %}

{% block content %}
<div class = "container">
    <div class="col-md-6 offset-md-3">
        <form action="" method = "POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value = "Login" class = "btn btn-outline-success">
            <small><a href="{% url 'users:password_reset' %}">Forgot password?</a>
            </small>
        </form>
        <div>
            <p>Don't have an account? <a class = "ml-2" href="{% url "users:user_create" %}">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock content %}